body {
    /* background-image: url("../images/lghtmesh_@2X.png"); */
    /* background-image: url("../images/dark_geometric_@2X.png"); */
    background: rgb(155, 154, 154);
    padding: 0px 200px;
}

h2 {
    font-family: 'Rock Salt', cursive;
    color: rgb(170, 13, 13);
}

#start {
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
}

#start-again {
    margin-top: 25px;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
}

#question {
    padding: 10px;
    font-size: 18px;
}

#answer-a, 
#answer-b, 
#answer-c, 
#answer-d, 
#correct,
#incorrect,
#unanswered {
    padding: 5px;
}
        
#container {
    background: rgb(41, 46, 51);
    text-align: center;
    margin: 20px 20px;
    padding: 20px;
}

#image {
    padding: 0px 20px 20px 20px;
    /* margin: 40px 60px; */
}

#game, #final-display {
    color: white;
}

#done {
    font-weight: bold;
    font-size: 18px;
}


/* font-family: 'Special Elite', cursive;
font-family: 'Yeseva One', cursive;
